*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
li{
  list-style-type: none;
}
a {
  color: #00B7FF;
  text-decoration: none;
}
img{
  width: 100%;
}
figure{
  width: 20%;
}
.titulo{
  text-align: center;
}

.formulario{
  margin: auto;
  width: 20%;
}
/*class="form-floating is-invalid"*/
